.containerNosotros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}
.containerHistoria{
    text-align: center;
}
.tituloQuienes{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 2.3em;
    color: #060F6F;
    padding: 30px 0;
}
.tituloNosotros{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 2em;
    color: #060F6F;
}
.containerTextoHistoria{
    display: flex;
    justify-content: center;
}
.textoHistoria{
    text-align: justify;
    font-family: 'Poppins';
    font-size: 1em;
    color: #000000;
    width: 90%;
}

.containerProfesionales{
    text-align: center;
    margin: 30px 0;
}
.containerNombres .textoNombres{
    font-family: 'Poppins';
    font-size: 1em;
    color: #000000;
}
.listaNombres{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
}
.li{
    display: flex;
    width: 250px;
    align-items: center;
    font-family: 'Poppins';
    font-size: 1em;
    color: #000000;
}
.silueta{
    margin-right: 30px;
    width: 3em;
}

.containerPolitica{
    text-align: center;
}
.textoPolitica{
    padding: 0 0 20px;
    font-family: 'Poppins';
    font-size: 1em;
    color: #000000;
}
.containerPuntos{
    padding-bottom: 20px;
    border-bottom: 2px solid #4EF7BA;
    font-family: 'Poppins';
    color: #000000;
    font-size: .8em;
}
.punto{
    padding: 5px 50px;
    text-align: justify;
}
.normaPolitica{
    padding-top: 10px;
}
.textoNorma{
    font-family: 'Poppins';
    font-size: .8em;
    color: #000000;
}
@media (min-width: 900px) {
    .textoHistoria{
        width: 60%;
    }
    .containerPuntos{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .punto{
        width: 180px;
        text-align: start;
        padding: 0 20px;
    }
}