.containerHome{
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 150px 0;
    list-style: none;
}
.sacar-turno a, .ver-resultados a{
    width: 200px;
    border: none;
    font-family: 'Raleway';
    font-weight: 600;
    background-color: #4EF7BA;
    border-radius: 20px;
    padding: 10px 30px;
    color: #1764ff;
}
.sacar-turno a, .ver-resultados a{
    text-decoration: none;
}
a:hover{
    background-color: #49dda7;
}

.opciones{
    width: 100%;
}
.img_banner{
    padding: 30px 50px;
}
.preguntas{
    padding: 80px 0;
    width: 100%;
    justify-content: center;
}
.title_accordion{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 2.3em;
    color: #060F6F;
}

@media (max-width: 600px) {
    .buttons{
        padding: 40px 0;
        flex-direction: column;
    }
    .sacar-turno, .ver-resultados{
        padding: 20px 0;
    }
}