
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    position: sticky;
    z-index: 999;
    top: 0;
    padding: 0 120px;
}
.navbar .active{
    background-color: #1d4ed8;
    border-radius: 20px;
    padding: 0.5rem .8rem;
    color: #ffffff;
}
.navbar .logo_nav{
    width: 200px;
}

.navbar .title{
    margin: 1rem;
}
.navbar ul{
    display: flex;
    margin-top: 1rem;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    display: block;
    text-decoration: none;
    color: #4E87F7;
    font-family: 'Raleway';
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}
.navbar ul li .button{
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    background-color: #4EF7BA;
}
.navbar ul li a:not(.active):hover{
    padding: 0.5rem 0.8rem;
    background-color: #49dda7;
    border-radius: 20px;
}
.navbar .title:hover{
    background-color: transparent;
}
.navbar .menu{
    display: none;
    position: absolute;
    top: 1.4rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}
.navbar .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #000000;
    border-radius: 0.2rem;
}

@media(max-width: 990px){
    .navbar .menu{
        display: flex;
    }
    .navbar{
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .navbar ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        padding: 0 100px;
    }
    .navbar ul.open{
        display: flex;
    }
    .navbar ul li{
        width: 100%;
        text-align: center;
    }
    .navbar ul li a{
        margin: 0.2rem 0.5rem;
    }
}