.accordionContainer{
    display: flex;
    justify-content: center;
    
}
.accordionItem{
    width: 750px;
    text-align: justify;
}
.accordionTitle{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    background: #3c7dff;
    font-family: 'Poppins';
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
}
.accordionContent{
    padding: 5px;
    background: #cccccc;
    font-family: 'Poppins';
    font-size: .9em;
    color: #000000;
}