.accordionContainer{
    display: flex;
    justify-content: center;
}
.accordionItem{
    width: 750px;
}

.accordionTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    cursor: pointer;
    padding: 5px;
    background: #52b2fc;
    font-family: 'Poppins';
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
}
.indicador{
    padding: 10px 20px;
}
.accordionContent{
    padding: 15px;
    background: #e2e2e2;
    text-align: justify;
    font-family: 'Poppins';
    font-size: .9em;
    color: #000000;
}